pkgbase = opentrackir
	pkgdesc = Infrared head mouse for NaturalPoint TrackIR cameras
	pkgver = 0.2.4
	pkgrel = 1
	url = https://github.com/stedwick/OpenTrackIR
	install = opentrackir.install
	arch = x86_64
	license = GPL-3.0-or-later
	checkdepends = appstream
	checkdepends = desktop-file-utils
	makedepends = cmake
	makedepends = git
	makedepends = meson
	depends = dconf
	depends = glib2
	depends = glibc
	depends = gtk4
	depends = hicolor-icon-theme
	depends = libadwaita
	depends = libevdev
	depends = libgcc
	depends = libusb
	depends = systemd-libs
	provides = libopentrackir.so
	options = !debug
	source = OpenTrackIR::git+https://github.com/stedwick/OpenTrackIR.git#commit=1f3eef6f8255f116703657ef7a880d459be9f9f9
	sha256sums = SKIP

pkgname = opentrackir
